<h4>
    Setup: Events
  {{#x-tooltip contentAsHTML=true
  content='An event is what your campers actually register for. <br />
                Imagine an event represents an actual bed at a particular camp during a specific week of camp as part of a specific program. <br />
                Smores requires at least one event to be configured in order to accept registrations.'}}
    {{fa-icon "info"}}
  {{/x-tooltip}}
</h4>
{{outlet}}
