<div class="panel panel-success panel-dark widget-profile">
    <div class="panel-heading">
        <div class="widget-profile-bg-icon"><span class="glyphicon glyphicon-tent"></span></div>
        <div class="widget-profile-header">
            <span>Lake Fieldstone</span>
            <div class="btn-group btn-group-sm pull-right">
                <button class="btn btn-primary" type="button">Delete</button>
                {{#link-to "setup.locations.edit" class="btn btn-primary"}}Edit{{/link-to}}
            </div>
        </div>
    </div>
    <!-- / .panel-heading -->
    <div class="list-group">
        <address class="list-group-item">
            <strong>Twitter, Inc.</strong><br>
            795 Folsom Ave, Suite 600<br>
            San Francisco, CA 94107<br>
            <abbr title="Phone">P:</abbr> (123) 456-7890
        </address>

        <span class="list-group-item">Description (What your customers see)</span>

    </div>
</div>

