body {
    color: #555;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
}

/* Fix a problem with page header in main body */
.page-header {
    margin: -18px -18px 20px;
}

.pagination {
    margin: 0;
}

.page-signin .signin-info, .page-signup .signup-header {
    background: none repeat scroll 0 0 rgba(67, 61, 60, 0.8);
}

.page-signin .password-reset-form {
    display: block;
}