<div class="page-header">
    <h1>Events</h1>

    <form class="form-inline pull-right">
        <div class="form-group">
            <label for="location">Location </label>
            <select class="form-control" name="location">
                <option>Select</option>
                <option>Lake Sinclair</option>
                <option>North Metro Campsite</option>
            </select>
        </div>
        <div class="form-group">
            <label for="program"> Program</label>
            <select class="form-control">
                <option>Select</option>
                <option>Adventure Guides</option>
                <option>Buzy Beavers</option>
            </select>
        </div>
    </form>
</div>

<div class="row">
    <div class="col-md-12">

        <form class="panel form-horizontal" action="#">
            <div class="panel-heading">
                <span class="panel-title">New Event</span>

                <div class="panel-heading-controls">
                    <button class="btn btn-xs btn-info">Add</button>
                </div>
            </div>
            <div class="panel-body">

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group no-margin-hr">
                            <label class="control-label">Location</label>
                            <select class="form-control" name="location">
                                <option>Select</option>
                                <option>Lake Sinclair</option>
                                <option>North Metro Campsite</option>
                            </select>
                        </div>
                    </div>
                    <!-- col-sm-6 -->
                    <div class="col-sm-6">
                        <div class="form-group no-margin-hr">
                            <label class="control-label">Program</label>
                            <select class="form-control">
                                <option>Select</option>
                                <option>Adventure Guides</option>
                                <option>Buzy Beavers</option>
                            </select>
                        </div>
                    </div>
                    <!-- col-sm-6 -->
                </div>
                <!-- row -->

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group no-margin-hr">
                            <label class="control-label">Start Date</label>
                            <input type="text" class="form-control" name="firstname">
                        </div>
                    </div>
                    <!-- col-sm-6 -->
                    <div class="col-sm-6">
                        <div class="form-group no-margin-hr">
                            <label class="control-label">End Date</label>
                            <input type="text" class="form-control" name="lastname">
                        </div>
                    </div>
                    <!-- col-sm-6 -->
                </div>
                <!-- row -->

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group no-margin-hr">
                            <label class="control-label">Gender</label>
                            <input type="text" class="form-control" name="gender">
                        </div>
                    </div>
                    <!-- col-sm-6 -->
                    <div class="col-sm-6">
                        <div class="form-group no-margin-hr">
                            <label class="control-label">Capacity</label>
                            <input type="text" class="form-control" name="capacity">
                        </div>
                    </div>
                    <!-- col-sm-6 -->
                </div>
                <!-- row -->

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group no-margin-hr">
                            <label class="control-label">Min Age</label>
                            <input type="text" class="form-control" name="minAge">
                        </div>
                    </div>
                    <!-- col-sm-6 -->
                    <div class="col-sm-6">
                        <div class="form-group no-margin-hr">
                            <label class="control-label">Max Age</label>
                            <input type="text" class="form-control" name="maxAge">
                        </div>
                    </div>
                    <!-- col-sm-6 -->
                </div>
                <!-- row -->
            </div>
            <div class="panel-footer text-right">
                <button class="btn btn-primary">Save</button>
                <button class="btn btn-primary">Cancel</button>
            </div>
        </form>
    </div>


</div>
