<div class="row">
    <div class="col-md-5">
        <div class="box box-default">
            <div class="box-header">
                <h3 class="box-title">{{fa-icon 'credit-card'}} Stored Credit Cards</h3>

                <div class="box-tools pull-right">
                  {{#link-to 'client.billing.cards.add' class="btn btn-box-tool" id="add-card"}}
                    {{fa-icon 'plus'}} Credit Card
                  {{/link-to}}
                </div>
                <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body">

              {{#each model as |record|}}
                {{#if record.id}}
                    <div class="row">
                        <div class="col-md-12">
                          {{card/basic-info card=record}}
                        </div>
                    </div>
                {{/if}}
              {{/each}}
            </div>
            <!-- /.box-body -->
        </div>
    </div>
    <div class="col-md-4"></div>
</div>