<div role="navigation" class="navbar navbar-inverse" id="main-navbar">
    <!-- Main menu toggle -->
    <button id="main-menu-toggle" type="button"><i class="navbar-icon fa fa-bars icon"></i><span class="hide-menu-text">HIDE MENU</span></button>

    <div class="navbar-inner">
        <!-- Main navbar header -->
        <div class="navbar-header">

            <!-- Logo -->
            <a class="navbar-brand" href="../../index.html">
                <strong>Lander</strong>App
            </a>

            <!-- Main navbar toggle -->
            <button data-target="#main-navbar-collapse" data-toggle="collapse" class="navbar-toggle collapsed" type="button"><i class="navbar-icon fa fa-bars"></i></button>

        </div> <!-- / .navbar-header -->

        <div class="collapse navbar-collapse main-navbar-collapse" id="main-navbar-collapse">
            <div>
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">Dropdown</a>
                        <ul class="dropdown-menu">
                            <li><a href="#">First item</a></li>
                            <li><a href="#">Second item</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Third item</a></li>
                        </ul>
                    </li>
                </ul> <!-- / .navbar-nav -->

                <div class="right clearfix">
                    <ul class="nav navbar-nav pull-right right-navbar-nav">
                        <li>
                            <form class="navbar-form pull-left">
                                <input type="text" placeholder="Search" class="form-control">
                            </form>
                        </li>

                        <li class="dropdown">
                            <a data-toggle="dropdown" class="dropdown-toggle user-menu" href="#">
                                <img alt="" src="assets/demo/avatars/1.jpg">
                                <span>John Doe</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Profile <span class="label label-warning pull-right">new</span></a></li>
                                <li><a href="#">Account <span class="badge badge-primary pull-right">new</span></a></li>
                                <li><a href="#"><i class="dropdown-icon fa fa-cog"></i>&nbsp;&nbsp;Settings</a></li>
                                <li class="divider"></li>
                                <li><a href="pages-signin.html"><i class="dropdown-icon fa fa-power-off"></i>&nbsp;&nbsp;Log Out</a></li>
                            </ul>
                        </li>
                    </ul> <!-- / .navbar-nav -->
                </div> <!-- / .right -->
            </div>
        </div> <!-- / #main-navbar-collapse -->
    </div> <!-- / .navbar-inner -->
</div>