<div class="login-box" style="width: 75%; margin-bottom: 3% ">
    <div class="login-logo">
        <b>Have you forgotten your password?</b>
    </div>

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <p>Enter your Email and we'll send a password reset code to that address. </p>

            <p>Use that reset code to set a new password for your account on the next page.</p>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>


<div class="row">
    <div class="col-md-2"></div>

    <div class="col-md-8">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title"></h3>

                <div class="box-tools pull-right" data-toggle="tooltip" title="" data-original-title="Status">

                </div>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form class="form-horizontal">
                <div class="box-body">
                    <div class="form-group required" id="email-input">
                        <label class="col-sm-4 control-label">Email Address</label>

                        <div class="col-sm-8">
                          {{input type="text" class="form-control" value=model.email placeholder="my@email.address"}}
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix">
                  {{#link-to 'mgr.auth.login' class="btn btn-primary"}}Return To Login{{/link-to}}
                    <button class="btn btn-primary pull-right" {{action "reminder" model}}>Send Reset Code</button>
                </div>
                <!-- /.box-footer -->

            </form>
        </div>
    </div>

    <div class="col-md-2">
    </div>

</div>