<div class="box box-warning">
    <div class="box-header with-border">
        <h3 class="box-title">{{model.name}}</h3>

        <div class="box-tools">
            <button {{action 'showModal' 'modals/delete-confirm' model}} class="btn btn-primary btn-xs">Delete</button>
          {{#link-to 'mgr.setup.programs.edit' model class="btn btn-primary btn-xs"}}Edit{{/link-to}}
        </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <dl class="dl-horizontal">
            <dt>Description:</dt>
            <dd>{{model.description}}</dd>
            <dt>Costs:</dt>
            <dd>{{format-money model.fee}}</dd>
        </dl>
    </div>
    <div class="box-footer">
    </div>
</div>
