<div class="row">
    <div class="col-xs-6">
        <div class="dataTables_info" id="example1_info">Showing 1 to {{perPage}} of {{totalRecords}}</div>
    </div>
    <div class="col-xs-6">
        <div class="dataTables_paginate paging_bootstrap">
            {{page-numbers currentPage=page totalPages=totalPages numPagesToShow=1 showFL=true}}
        </div>
    </div>
</div>