<div class="table-footer clearfix">
    <div class="DT-label">
        <div class="dataTables_info">
            Showing 1 to 10 of 57 entries
        </div>
    </div>
    <div class="DT-pagination">
        <div class="dataTables_paginate paging_simple_numbers">
            {{page-numbers currentPage=page totalPages=totalPages numPagesToShow=5 showFL=true}}
        </div>
    </div>
</div>