<div class="table-header clearfix">


    <form class="form-inline">


        <div class="input-group col-xs-6">
            <input type="search" class="form-control input-sm" placeholder="Search..." />
                    <span class="input-group-btn">
                        <button type="button" class="btn" {{action "fetch"}}>{{fa-icon "refresh"}}</button>
                    </span>
        </div>
 |
        <div class="btn-group btn-group-sm">
            <button class="btn btn-default" type="button">Per Page</button>
            <button data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button"><i class="fa fa-caret-down"></i></button>
            <ul class="dropdown-menu">
                <li><a>10</a></li>
                <li><a>20</a></li>
                <li><a>40</a></li>
                <li class="divider"></li>
                <li><a>100</a></li>
            </ul>
        </div>


    </form>





</div>