<div class="table-primary">
    <div role="grid" class="dataTables_wrapper">
        {{ partial "pager/table/header"}}
        <table cellspacing="0" cellpadding="0" border="0"
               class="table table-striped table-bordered dataTable">
            <thead>
            {{partial "pager/table/table-header"}}
            </thead>
            <tbody>
            {{partial "pager/table/row"}}
            </tbody>
        </table>
        {{partial "pager/table/footer"}}
    </div>
</div>