<tbody>
{{#each record in this}}
    <tr>
        {{#each col in columns}}
            <td>{{pager-loop record col}}</td>
        {{/each}}
        <td>
            {{#link-to linkPath record class="btn btn-default"}} Open {{/link-to}}
        </td>
    </tr>
{{else}}
    <tr>no records found ... :-(</tr>
{{/each}}
</tbody>