<div class="row">
    <div class="col-xs-6">
        <div id="example1_length" class="dataTables_length"><label><select name="example1_length" size="1" aria-controls="example1">
            <option value="10" selected="selected">10</option>
            <option value="25">25</option>
            <option value="50">50</option>
            <option value="100">100</option>
        </select> records per page</label></div>
    </div>
    <div class="col-xs-6">
        <div class="dataTables_filter" id="example1_filter"><label>Search: <input type="text"
                                                                                  aria-controls="example1"></label>
        </div>
    </div>
</div>