{{#x-modal title='Delete Custom Field' ok='removeField' okText='Yes, Delete' close='removeModal' closeText='Cancel' model=model}}
    <p>Are you sure you want to delete the custom field: <strong>{{model.display}}</strong>? </p>
    <p>When a custom field is removed, all instances of that field are also removed from the system.</p>
    <p><strong>This action cannot be reversed!</strong></p>
{{/x-modal}}