<div class="panel colourable">
    <div class="panel-heading">
        <span class="panel-title">#{{model.id}} - {{model.name}}</span>
        <ul class="nav nav-tabs nav-tabs-xs">
            <li class="active">
                <a data-toggle="tab" href="#">Main</a>
            </li>
            <li>
                <a data-toggle="tab" href="#">Payments</a>
            </li>
            <li>
                <a data-toggle="tab" href="#">Registrations</a>
            </li>
        </ul> <!-- / .nav -->
    </div> <!-- / .panel-heading -->
    <div class="panel-body">
        Panel body content
    </div>
</div>