<div class="box-header">
    <i class="ion ion-clipboard"></i>

    <h3 class="box-title"></h3>

    <div class="box-tools pull-right">
        {{page-numbers currentPage=page totalPages=totalPages numPagesToShow=1 showFL=true}}
    </div>
</div>
<!-- /.box-header -->