<div class="box box-primary">
    {{partial "pager/list/header"}}
    <div class="box-body">
        <ul class="todo-list">
        {{ partial "pager/list/row"}}
        </ul>
    </div>
    {{partial "pager/list/footer"}}
</div>