<div class="panel panel-info">
    <div class="panel-heading">
        <div class="btn-group pull-right">
            <a href="#" class="btn btn-default btn-xs">Delete</a>
            {{#link-to "setup.programs.edit" class="btn btn-default btn-xs"}}Edit{{/link-to}}
        </div>
        <h4 class="panel-title"><span class="glyphicon glyphicon-tent"></span>Lake Fieldstone</h4>
    </div>
    <div class="panel-body">
        <ul class="list-group">
            <address class="list-group-item">
                <strong>Twitter, Inc.</strong><br>
                795 Folsom Ave, Suite 600<br>
                San Francisco, CA 94107<br>
                <abbr title="Phone">P:</abbr> (123) 456-7890
            </address>
            <span class="list-group-item">Description (What your customers see)</span>
            <span class="list-group-item">Description (What your customers see)</span>
        </ul>
    </div>
</div>
