<div class="row-fluid">
    <div class="col-md-12" id="matter-list">
        {{partial "main-nav"}}
    </div>
</div>

<div class="page-header">
    <h1>Users</h1>
</div>

<div class="row-fluid">
    <div class="col-md-12" id="matter-list">
        {{partial "pager/table-pager"}}
    </div>
</div>

{{outlet}}
