<div class="row">
    <div class="col-md-12">
        <div class="form-group required">
            <label>Select the camper attending camp:</label>
          {{#util/x-select
          class='registrationAttendee'
          options=attendees
          selected=registration.attendee
          placeholder='Select'
          searchEnabled=false
          onchange=(action (mut registration.attendee)) as |item|}}
            {{item.firstName}} {{item.lastName}}
          {{/util/x-select}}
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label>Enter any important notes to camp staff here:</label>
          {{textarea class="form-control" value=registration.notes cols="80" rows="6" name="registrationNote"}}
        </div>
    </div>
</div>