<div id="mainWrapper" class="wrapper">
  {{partial "client/theme/setup-header"}}
  {{side-bar}}
    <!-- Content Wrapper. Contains page content -->
    <div id="contentWrapper" class="content-wrapper" style="min-height: 1068px;">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Test Page
                <small>for the smores portal</small>
            </h1>
          {{partial "client/theme/main-breadcrumb"}}
        </section>
        <!-- Main content -->
        <section class="content">


            <div class="row">
                <div class="col-md-12">
                    Some stuff here
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    Some stuff here
                </div>
            </div>


        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
  {{partial "client/theme/main-footer"}}
</div>