<div class="panel panel-info">
    <div class="panel-heading">
        <div class="btn-group pull-right">
            <button class="btn btn-default btn-xs" type="button">Save</button>
            {{#link-to "setup.locations.info" class="btn btn-default btn-xs"}}Cancel{{/link-to}}
        </div>
        <h4 class="panel-title"><span class="glyphicon glyphicon-tent"></span>Lake Fieldstone</h4>
    </div>
    <div class="panel-body">
        <div class="row form-group">
            <label class="col-sm-4 control-label">Name:</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" name="name">
            </div>
        </div>
        <div class="row form-group">
            <label class="col-sm-4 control-label">Description:</label>
            <div class="col-sm-8">
                <input type="textarea" class="form-control" name="description">
            </div>
        </div>
        <div class="row form-group">
            <label class="col-sm-4 control-label">Street:</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" name="addr_1">
            </div>
        </div>
        <div class="row form-group">
            <label class="col-sm-4 control-label">Street2:</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" name="addr_2">
            </div>
        </div>
        <div class="row form-group">
            <label class="col-sm-4 control-label">City:</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" name="city">
            </div>
        </div>
        <div class="row form-group">
            <label class="col-sm-4 control-label">Zip:</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" name="zip">
            </div>
        </div>
    </div>
</div>
