<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label>Check #</label>

            <div class="input-group">
              {{input type="text" class="form-control" value=newCheck.number id="checkNumber"}}
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label>Check Date</label>

            <div class="input-group">
                <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </div>
              {{pikaday-input value=newCheck.date format='MM-DD-YYYY' valueFormat='YYYY-MM-DD' class="form-control" allowBlank=true yearRange="5" id="checkDate"}}
            </div>
        </div>
    </div>
</div>
