<div class="navbar-custom-menu">
    <ul class="nav navbar-nav">
        <li>{{#link-to "client.me"}}My Account{{/link-to}}</li>
        <li class="user-menu">
            <a {{ action 'invalidateSession' }}>
                <span class="hidden-xs" id="logout">{{fa-icon 'sign-out'}}Logout</span>
            </a>
        </li>
    </ul>
</div>