<div class="row">
    <div class="col-md-12">
        <div class="form-group required">
            <label>Select the camper attending camp:</label>
          {{#util/x-select
          search=(action 'searchAttendees')
          searchEnabled=true
          selected=registration.attendee
          placeholder='Search By Camper Name'
          onchange=(action (mut registration.attendee))
          as |result|
          }}
            {{result.fullName}}
          {{/util/x-select}}
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label>Enter any important notes to camp staff here:</label>
          {{textarea class="form-control" value=registration.notes cols="80" rows="6"}}
        </div>
    </div>
</div>